<footer class="text-muted well" id="last-footer">
  <section>
    <div class="row" style="font-size:11px;">
      <div class="container">
        <h3 class="subhead" style="text-align:center;">Thank you for visiting our site.</h3>
        <div class="col-md-9">
          <div class="row" >
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
              <div class="row footlinks">
                <div class="col-xs-12">
                  <h5>Join Us</h5>
                  <ul class="noBullets">
                    <li><i class="fa fa-angle-right"></i><a href="#">Facbook Page</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Follow Twitter</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Google Plus</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">E-Mail</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row footlinks">

              </div>
            </div>
            <div class="col-md-3">
              <div class="row footlinks">

              </div>
            </div>
            <hr/>
          </div><!--/.row inner-->
        </div>
        <div class="col-md-3 subscribe">
          <div class="row">

            <form class="form-inline" role="form">
              <ul class="noBullets">
                <h5>Subscribe Newsletters!</h5>
                <li>
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                  </div>
                </li>
                <li class="text-center">
                  <button type="submit" class="btn btn-success btn-sm">Subscribe Now!</button>
                </li>
              </ul>
            </form>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="container text-center">
          <h5>All Rights Reserved © 2016.<a href="mailto:chance2seo@gmail.com">TWB</a></h5>
        </div>
      </div>
    </div><!--/.row outer-->
  </section>
</footer>