.search-page{
    width: 100%;
    padding: 15px 15px 0 25px;
}

.search-page .side-panel{
    padding: 15px;

}

#map{
    width: 100%;
    height: 670px;
}

.map-osd{
    position: absolute;
    top: 16%;
    right: 2%;
    width: 20%;
    height: 100%;
    z-index: 100;
}
