.user-page{
    width: 100%;
    padding: 15px 15px 0 25px;
}

.user-page .side-panel{
   padding: 15px;

}

#map{
    width: 100%;
    height: 670px;
}

.primary{
    background-color: #00BB44;
}

.half-width{
    width: 50%;
}
.user-rank{
    text-align: center;
    padding: 10px;
    background-color: #090909;
    border-radius: 10px;
    box-shadow: 0 5px 10px #444;
    margin-top: 10px;
}

.user-page h2{
    color: white !important;
    font-size: large;
}
.user-page h3 ,p{
    color: white !important;
}
.user-page .side-panel h5{
    color: white;
}

.user-page  a{
    color: #2ca48d !important;
}
.user-rank i{
   font-size: 62px;
    color: orange;
}


.trip-details{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px #444;
}

.map-osd{
    position: absolute;
    top: 16%;
    right: 2%;
    width: 20%;
    height: 100%;
    z-index: 100;
}
.marker{
    background-color: white;
    box-shadow: 0 0 5px #444;
    border-radius: 10px;
}
.marker i{
    font-size: x-large;
    color: orange;
    padding: 5px;

}

/*--------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .map-osd {
    position: static;
    width: 100%;
    }}

/*    Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .map-osd {
    position: static;
    width: 100%;
    }}
@media only screen and (max-width: 1024px) {
    .map-osd {
    position: static;
    width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    .map-osd {
    position: static;
    width: 100%;
    }
}

/*    Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .map-osd {
    position: static;
    width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .col-xxs-12 {
        width: 100%;
    }
     .map-osd {
    position: static;
    width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    header { height: 50vh; }
     .map-osd {
    position: static;
    width: 100%;
    }
}
