
<div *ngIf="userInfo">
  <h3 class = "text-success">User Info</h3>
  <h4>user_id: {{userInfo.user_id}}</h4>
  <h4>device_id: {{userInfo.device_id}}</h4>
</div>

<h3 class = "text-success">Contributions List</h3>
<ul class="list-group">
  <li *ngFor="let contribution of userContributions" class="list-group-item"><a role="button" (click)="getContributionDetails(contribution.contribution_id)"> {{dateFormat(contribution.started_at)}} </a>   
  </li>
</ul>

<div *ngIf="selectedContribution">
  <h3 class = "text-success">Contribution Details</h3>
  <ul class="list-group">
    <li class="list-group-item"><h5>Started at {{dateFormat(selectedContribution.started_at)}}</h5></li>
    <li class="list-group-item"><h5>Duration {{humanizeDuration(selectedContribution.duration)}}</h5></li>
    <li class="list-group-item"><h5>Distance {{optimizeDistance(selectedContribution.distance)}}</h5></li>
    <li class="list-group-item"><h5>CO2 saved {{toCO2(selectedContribution.distance)}}g</h5></li>
    
  </ul>
</div>



