/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

#logo{
    width: 50px;
    height: 50px;
}

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}

[item-right]{
    text-align: right;
}
[item-left]{
    text-align: left;
}